<html layout:decorate="~{domain/member/mypage/myPageLayout}">
<head>
    <title>주소록</title>
</head>
<body>
<div layout:fragment="my_page_content">
    <div class="flex justify-between mb-4">
        <h2 class="text-2xl font-bold">주소록</h2>
        <button type="button" class="bg-blue-500 text-white p-3 rounded-md text-left text-sm leading-6"
                onclick="location.href='/mypage/newAddress';">새 주소
        </button>
    </div>

    <ul role="list" class="divide-y divide-gray-100" >
        <li class="flex justify-between gap-x-6 p-5 hover:bg-gray-100" th:each="item : ${myAddressList}">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto flex flex-col justify-between">
                    <p class="text-xl font-semibold leading-6 text-gray-900" th:if="${item.primary}" th:text="|${item.addressName} (대표주소)|"></p>
                    <p class="text-xl font-semibold leading-6 text-gray-900" th:if="${!item.primary}" th:text="${item.addressName}"></p>
                    <p class="m-2 truncate text-base leading-5 text-gray-500" th:text="${item.fullAddress}"></p>
                </div>
            </div>
            <div class="flex flex-col items-end justify-between">
                <button type="button" class="bg-blue-500 text-white p-3 rounded-md text-left text-sm leading-6"
                        th:onclick="|location.href='/mypage/${item.id}/modifyAddress'|">주소 수정
                </button>
                <a method="DELETE" class="text-xs leading-5 text-gray-500 underline"
                   onclick="return confirm('정말로 삭제하시겠습니까?');" th:href="|/mypage/${item.id}/deleteAddress|"> 삭제 </a>
            </div>
        </li>
    </ul>
</div>
</body>
</html>