<html layout:decorate="~{domain/member/mypage/myPageLayout}">
<head>
    <title>주소록</title>
    <style>
        img {
            width: 150px;
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>
<body>
<div layout:fragment="my_page_content">
    <div class="container mx-auto">
        <div th:each="buy : ${data}" class="bg-gray-100 border border-gray-200 p-4 mb-4 flex">
            <ul>
                <li th:each="path : ${buy.fullPath}">
                    <img th:src="${path}"/>
                </li>
            </ul>
            <div class="flex">
                <div class="ml-4 mb-4 mr-10">
                    <label class="block text-gray-700 text-lg font-bold mb-2">신발 정보</label>
                    <p class="text-sm">한글명 : <span th:text="${buy.shoes.korName}"></span></p>
                    <p class="text-sm">영문명 : <span th:text="${buy.shoes.engName}"></span></p>
                    <p class="text-sm">모델명 : <span th:text="${buy.shoes.model}"></span></p>
                    <p class="text-sm">사이즈 : <span th:text="${buy.shoesSize.size}"></span></p>
                </div>

                <div class="mb-4">
                    <label class="block text-gray-700 text-lg font-bold mb-2">입찰 정보</label>
                    <p class="text-sm">금액 : <span th:text="${buy.price}"></span></p>
                    <p class="text-sm">시작일 : <span th:text="${buy.startDate}"></span></p>
                    <p class="text-sm">종료일 : <span th:text="${buy.endDate}"></span></p>
                    <p class="text-sm">상태 : <span th:text="${buy.status}"></span></p>
                </div>
            </div>
            <!-- 추가된 부분 -->
            <div class="flex flex-col" th:if="${buy.status == T(com.ll.hype.global.enums.Status).BIDDING}">
                <form th:action="@{|/buy/modify|}" method="post">
                    <input type="hidden" name="id" th:value="${buy.id}"/>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        입찰 금액 변경
                    </button>
                </form>

                <form th:action="@{|/buy/delete|}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="id" th:value="${buy.id}"/>
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2">
                        입찰 취소
                    </button>
                </form>
            </div>
            <!-- 추가된 부분 끝 -->
        </div>
    </div>
</div>
</body>
</html>