<html layout:decorate="~{domain/member/mypage/myPageLayout}">
<head>
    <title>주소록</title>
</head>
<body>
<div layout:fragment="my_page_content">
    <form th:action method="post" th:object="${addressRequest}" class="max-w-md mx-auto">
        <div class="flex justify-between mb-4">
            <h2 class="text-2xl font-bold">주소 변경</h2>
            <button type="button" class="bg-blue-500 text-white p-3 rounded-md text-left text-sm leading-6"
                    onclick="sample6_execDaumPostcode()">우편번호 찾기
            </button>
        </div>

        <!-- error message -->
        <div class="mb-4" th:if="${#fields.hasAnyErrors()}">
            <div class="block text-gray-700 text-sm font-bold mb-2" th:each="err : ${#fields.allErrors()}">
                <span th:text="${err}">Error.</span>
            </div>
        </div>

        <!-- existing code -->
        <div class="mb-4">
            <label for="sample6_postcode" class="block text-gray-700 text-sm font-bold mb-2">우편번호:</label>
            <input type="text" id="sample6_postcode" name="sample6_postcode" placeholder="우편번호" th:field="*{postcode}" required
                   class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
        </div>
        <div class="mb-4">
            <label for="sample6_address" class="block text-gray-700 text-sm font-bold mb-2">주소:</label>
            <input type="text" id="sample6_address" name="sample6_address" placeholder="주소" th:field="*{address}" required
                   class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
        </div>
        <div class="mb-4">
            <label for="sample6_detailAddress" class="block text-gray-700 text-sm font-bold mb-2">상세주소:</label>
            <input type="text" id="sample6_detailAddress" name="sample6_detailAddress" placeholder="상세주소" th:field="*{detailAddress}" required
                   class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
        </div>
        <div class="mb-4">
            <label for="sample6_extraAddress" class="block text-gray-700 text-sm font-bold mb-2">참고항목:</label>
            <input type="text" id="sample6_extraAddress" name="sample6_extraAddress" placeholder="참고항목" th:field="*{extraAddress}"
                   class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
        </div>

        <div class="mb-4">
            <label for="addressName" class="block text-gray-700 text-sm font-bold mb-2">주소이름:</label>
            <input type="text" id="addressName" name="addressName" placeholder="주소이름" th:field="*{addressName}" required
                   class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500"/>
        </div>

        <div class="mb-4">
            <label for="isPrimary" class="block text-gray-700 text-sm font-bold mb-2">대표주소:</label>
            <input type="checkbox" id="isPrimary" name="isPrimary" th:field="*{primary}"/>
        </div>

        <button type="submit" class="w-full bg-blue-500 text-white p-3 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue">
            수정
        </button>
    </form>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if (data.userSelectedType === 'R') {
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if (extraAddr !== '') {
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>
</div>
</body>
</html>