<html layout:decorate="~{domain/member/mypage/myPageLayout}">
<head>
    <title>거래 내역</title>
    <style>
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        #wishlist-card {
            width: 100%;
        }

        #wishlist-card2 {
            width: 100%;
        }

        button {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div layout:fragment="my_page_content">
    <h1 class="text-2xl font-bold mb-4">거래 내역</h1>
    <div id="tabs">
        <a th:href="@{/mypage/order/trading/buy}" id="buyTab">구매 내역</a>
        <a th:href="@{/mypage/order/trading/sale}" id="sellTab">판매 내역</a>
    </div>

    <div id="buyContent" class="tabContent">
        <!-- 구매 내역 컨텐츠 -->
        <div role="list" class="container mx-auto divide-y divide-gray-100">
            <div th:each="order : ${data}" class="flex justify-between gap-x-6 p-5 hover:bg-gray-100"
                 th:if="${order.buy.member.email == #authentication.principal.username}">
                <div class="card card-side bg-base-100 shadow-xl" id="wishlist-card2">
                    <figure>
                        <ul>
                            <li th:each="path : ${order.fullPath}">
                                <img th:src="${path}"/>
                            </li>
                        </ul>
                    </figure>

                    <div class="card-body" style="padding: 1rem;">
                        <h2 class="card-title" th:text="${order.buy.shoes.korName}"></h2>
                        <div class="flex">
                            <div class="mr-10">
                                <label class="block text-gray-700 text-lg font-bold mb-2">신발 정보</label>
                                <p class="text-sm">한글명 : <span th:text="${order.sale.shoes.korName}"></span></p>
                                <p class="text-sm">영문명 : <span th:text="${order.sale.shoes.engName}"></span></p>
                                <p class="text-sm">모델명 : <span th:text="${order.sale.shoes.model}"></span></p>
                                <p class="text-sm">사이즈 : <span th:text="${order.sale.shoesSize.size}"></span></p>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-lg font-bold mb-2">입찰 정보</label>
                            <p class="text-sm">거래 성사 금액 : <span th:text="${order.orderPrice}"></span>원</p>
                            <p class="text-sm">거래 성사 일자 : <span th:text="${order.orderDate}"></span></p>
                            <p class="text-sm">받는 사람 연락처 : <span th:text="${order.receiverPhoneNumber}"></span></p>
                            <p class="text-sm">받는 사람 주소 : <span th:text="${order.receiverAddress}"></span></p>
                            <p class="text-sm">받는 사람 이름 : <span th:text="${order.receiverName}"></span></p>
                            <p class="text-sm">거래 상태 : <span th:text="${order.status}"></span></p>
                            <p class="text-sm">구매자 거래 상태 : <span th:text="${order.paymentStatus}"></span></p>
                            <p class="text-sm">운송장번호 : <span th:text="${order.deliveryNumber}"></span></p>

                            <div class="flex justify-end"
                                 th:if="${order.paymentStatus == T(com.ll.hype.domain.order.order.entity.PaymentStatus).WAIT_PAYMENT}">
                                <div class="card-actions mr-2">
                                    <form th:action="@{/order/payment}" method="post">
                                        <input type="hidden" name="id" th:value="${order.id}"/>
                                        <button type="submit" class="btn btn-warning card-action">
                                            결제하기
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div th:if="${order.deliveryNumber != null and order.status == T(com.ll.hype.domain.order.order.entity.OrderStatus).TRADING}">
                                <div class="card-actions">
                                    <form th:action="@{/order/trad/complete}" method="post"
                                          onsubmit="return confirm('상품을 수령하셨습니까?');">
                                        <input type="hidden" name="_method" value="PUT">
                                        <input type="hidden" name="id" th:value="${order.id}"/>
                                        <button type="submit" class="btn btn-error card-action">
                                            구매 확정
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setActiveTab(tabId) {
            document.querySelectorAll("#tabs button").forEach(btn => {
                btn.style.fontWeight = (btn.id === tabId) ? "bold" : "normal";
            });
        }

        setActiveTab("buyTab");
    </script>
</div>
</body>
</html>
