<html layout:decorate="~{domain/member/mypage/myPageLayout}">
<head>
    <title>진행 중 거래</title>
    <style>
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        #wishlist-card {
            width: 100%;
        }

        #wishlist-card2 {
            width: 100%;
        }

        button {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div layout:fragment="my_page_content">
    <h1 class="text-2xl font-bold mb-4">진행 중 거래</h1>
    <div id="tabs">
        <button id="buyTab">구매 내역</button>
        <button id="sellTab">판매 내역</button>
    </div>

    <div id="buyContent" class="tabContent">
        <!-- 구매 내역 컨텐츠 -->
        <div role="list" class="container mx-auto divide-y divide-gray-100">
            <div th:each="order : ${data}" class="flex justify-between gap-x-6 p-5 hover:bg-gray-100"
                 th:if="${order.buy.member.email == #authentication.principal.username}">
                <div class="card card-side bg-base-100 shadow-xl" id="wishlist-card2">
                    <figure>
                        <ul>
                            <li th:each="path : ${order.fullPath}">
                                <img th:src="${path}"/>
                            </li>
                        </ul>
                    </figure>

                    <div class="card-body" style="padding: 1rem;">
                        <h2 class="card-title" th:text="${order.buy.shoes.korName}"></h2>
                        <div class="flex">
                            <div class="mr-10">
                                <label class="block text-gray-700 text-lg font-bold mb-2">신발 정보</label>
                                <p class="text-sm">한글명 : <span th:text="${order.sale.shoes.korName}"></span></p>
                                <p class="text-sm">영문명 : <span th:text="${order.sale.shoes.engName}"></span></p>
                                <p class="text-sm">모델명 : <span th:text="${order.sale.shoes.model}"></span></p>
                                <p class="text-sm">사이즈 : <span th:text="${order.sale.shoesSize.size}"></span></p>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-lg font-bold mb-2">입찰 정보</label>
                            <p class="text-sm">거래 성사 금액 : <span th:text="${order.orderPrice}"></span></p>
                            <p class="text-sm">거래 성사 일자 : <span th:text="${order.orderDate}"></span></p>
                            <p class="text-sm">받는 사람 연락처 : <span th:text="${order.receiverPhoneNumber}"></span></p>
                            <p class="text-sm">받는 사람 주소 : <span th:text="${order.receiverAddress}"></span></p>
                            <p class="text-sm">받는 사람 이름 : <span th:text="${order.receiverName}"></span></p>
                            <p class="text-sm">거래 상태 : <span th:text="${order.status}"></span></p>
                            <p class="text-sm">운송장번호 : <span th:text="${order.deliveryNumber}"></span></p>
                        </div>

                        <div class="flex justify-end">
<!--                            th:if="${order.paymentStatus == T(com.ll.hype.domain.order.order.entity.PaymentStatus).WAIT_PAYMENT}"-->
                            <div class="card-actions mr-2" >
                                <form th:action method="post">
                                    <input type="hidden" name="id" th:value="${order.id}"/>
                                    <button type="submit" class="btn btn-warning card-action">
                                        결제하기
                                    </button>
                                </form>
                            </div>

                            <div class="card-actions">
                                <form th:action method="post" onsubmit="return confirm('상품을 수령하셨습니까?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="id" th:value="${order.id}"/>
                                    <button type="submit" class="btn btn-error card-action">
                                        입찰 취소
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="sellContent" class="tabContent" style="display: none;">
        <!-- 판매 내역 컨텐츠 -->
        <div role="list" class="container mx-auto divide-y divide-gray-100">
            <div th:each="order : ${data}" class="flex justify-between gap-x-6 p-5 hover:bg-gray-100"
                 th:if="${order.sale.member.email == #authentication.principal.username}">
                <div class="card card-side bg-base-100 shadow-xl" id="wishlist-card">
                    <figure id="card-figure">
                        <ul>
                            <li th:each="path : ${order.fullPath}">
                                <img th:src="${path}" id="card-image"/>
                            </li>
                        </ul>
                    </figure>

                    <div class="card-body" style="padding: 1rem;">
                        <h2 class="card-title" th:text="${order.buy.shoes.korName}"></h2>
                        <div class="flex">
                            <div class="mr-10">
                                <label class="block text-gray-700 text-lg font-bold mb-2">신발 정보</label>
                                <p class="text-sm">한글명 : <span th:text="${order.buy.shoes.korName}"></span></p>
                                <p class="text-sm">영문명 : <span th:text="${order.buy.shoes.engName}"></span></p>
                                <p class="text-sm">모델명 : <span th:text="${order.buy.shoes.model}"></span></p>
                                <p class="text-sm">사이즈 : <span th:text="${order.buy.shoesSize.size}"></span></p>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-lg font-bold mb-2">입찰 정보</label>
                            <p class="text-sm">거래 성사 금액 : <span th:text="${order.orderPrice}"></span></p>
                            <p class="text-sm">거래 성사 일자 : <span th:text="${order.orderDate}"></span></p>
                            <p class="text-sm">받는 사람 연락처 : <span th:text="${order.receiverPhoneNumber}"></span></p>
                            <p class="text-sm">받는 사람 주소 : <span th:text="${order.receiverAddress}"></span></p>
                            <p class="text-sm">받는 사람 이름 : <span th:text="${order.receiverName}"></span></p>
                            <p class="text-sm">거래 상태 : <span th:text="${order.status}"></span></p>

                            <form th:action="@{|/mypage/order/trading/modify|}" method="post">
                                <input type="hidden" th:name="id" th:value="${order.id}"/>
                                <label>운송장번호</label>
                                <input type="text" th:name="deliveryNumber" th:value="${order.deliveryNumber}"
                                       class="border border-gray-400 p-1"
                                       style="width:110px;height:30px;font-size:15px;"/>
                                <button type="submit" style="width:45px;height:30px;font-size:12px;"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded">수정
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function setActiveTab(tabId) {
            document.querySelectorAll("#tabs button").forEach(btn => {
                btn.style.fontWeight = (btn.id === tabId) ? "bold" : "normal";
            });
        }

        document.getElementById("buyTab").addEventListener("click", function () {
            setActiveTab(this.id);
            document.getElementById("buyContent").style.display = "block";
            document.getElementById("sellContent").style.display = "none";
        });

        document.getElementById("sellTab").addEventListener("click", function () {
            setActiveTab(this.id);
            document.getElementById("buyContent").style.display = "none";
            document.getElementById("sellContent").style.display = "block";
        });

        setActiveTab("buyTab");
    </script>
</div>
</body>
</html>
