<html layout:decorate="~{domain/member/mypage/myPageLayout}">
<head>
    <title>관심</title>
</head>
<body>
<div layout:fragment="my_page_content">
    <h2 class="text-2xl font-bold mb-4">관심</h2>

    <ul role="list" class="divide-y divide-gray-100" >
        <li class="flex justify-between gap-x-6 p-5 hover:bg-gray-100" th:each="item : ${wishlist}">
            <div class="flex min-w-0 gap-x-4">
                <img class="h-20 w-20 flex-none bg-gray-50 rounded" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                <div class="min-w-0 flex-auto flex flex-col justify-between">
                    <p class="text-sm font-semibold leading-6 text-gray-900" th:text="${item.brandEngName}"></p>
                    <p class="mb-2 truncate text-xs leading-5 text-gray-500" th:text="${item.shoesEngName}"></p>
                    <p class="text-sl font-semibold leading-6 text-gray-900" th:text="${item.shoesSize}"></p>
                </div>
            </div>
            <div class="flex flex-col items-end justify-between">
                <button type="submit" class="w-full bg-red-500 text-white p-3 rounded-md text-left" style="width: 120px;">
                    <span class="text-sm leading-6">즉시 구매가</span>
                    <br/>
                    <span class="text-sl font-semibold leading-6" th:if="${item.instantPrice != null}" th:text="|${#numbers.formatDecimal(item.instantPrice, 0, 'COMMA', 0, 'POINT')}원|"></span>
                    <span class="text-sl font-semibold leading-6" th:unless="${item.instantPrice != null}" th:text="'-'"></span>
                </button>
<!--                |/sale/${item.saleId}/delete|-->
                <a class="text-xs leading-5 text-gray-500 underline"
                   onclick="return confirm('정말로 삭제하시겠습니까?');"> 삭제 </a>
            </div>
        </li>
    </ul>
</div>
</body>
</html>