<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <style>
        top {
            display: flex;/**/
            height: 22px;
            padding: 8px 40px 0;
        }
        .main-header {
            align-items: center;
            display: flex;
            height: 64px;
            justify-content: space-between;
            min-width: 320px;
            padding: 20px 40px;
        }
        a {
            padding-inline-start: 25px;
        }
    </style>
    <title>HYPE</title>
</head>
<header th:fragment="header">
    <div class="top">
        <a class="top-item" href="#">고객센터</a>
        <a class="top-item" href="#">마이페이지</a>
        <a class="top-item" href="#">관심</a>
        <a class="top-item" href="#">로그인</a>
    </div>
    <div class="main-header">
        <h1>HYPE</h1>
        <div class="main">
            <a class="main-item" href="#">HOME</a>
            <a class="main-item" href="#">SOCIAL</a>
            <a class="main-item" href="#">SHOP</a>
            <a class="main-item" href="#">SEARCH</a>
        </div>
    </div>
</header>

</html>
