<html layout:decorate="~{global/usrLayout}" xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <title>즉시판매 상세페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div class="flex justify-center mt-5">판매하기</div>
    <div class="container mx-auto mt-5">
        <div class="header text-center mb-5">
            <div class="flex">
                <ul>
                    <li th:each="path : ${SaleFormResponse.fullPath}">
                        <img th:src="${path}" class="w-20"/>
                    </li>
                </ul>
                <div>
                    <p class="text-l" th:text="${SaleFormResponse.shoes.model}"></p>
                    <p class="text-l" th:text="${SaleFormResponse.shoes.korName}"></p>
                    <p class="text-l" th:text="${SaleFormResponse.shoes.engName}"></p>
                    <p class="text-l" th:text="${SaleFormResponse.size}"></p>
                </div>
            </div>
            <hr>
            <table style="display: flex; justify-content: space-around; align-items: center;">
                <tr>
                    <th>즉시 구매가</th>
                    <th>즉시 판매가</th>
                </tr>
                <tr>
                    <td th:text="${BuyFormResponse.price}"></td>
                    <td th:text="${SaleFormResponse.price}"></td>
                </tr>
            </table>

            <hr>
            <div>
                <div style="display: flex; justify-content: space-around; align-items: center;">
                    <form th:action="@{|/sale/shoes/bid|}" method="post">
                        <input type="hidden" name="shoesId" th:value="${SaleFormResponse.shoes.id}"/>
                        <input type="hidden" name="size" th:value="${SaleFormResponse.size}"/>
                        <button type="submit">판매입찰</button>
                    </form>

                    <form th:action="@{|/sale/shoes/now|}" method="post">
                        <input type="hidden" name="shoesId" th:value="${SaleFormResponse.shoes.id}"/>
                        <input type="hidden" name="size" th:value="${SaleFormResponse.size}"/>
                        <button type="submit" disabled>즉시판매</button>
                    </form>
                </div>

                <form th:action="@{|/sale/shoes/sale/now|}" method="post" id="now">
                    <input type="hidden" name="shoesId" th:value="${SaleFormResponse.shoes.id}"/>
                    <input type="hidden" name="size" th:value="${SaleFormResponse.size}"/>
                    <input type="hidden" name="price" th:value="${SaleFormResponse.price}"/>
                    <input type="hidden" name="buyId" th:value="${SaleFormResponse.id}"/>
                    <input type="hidden" name="saleId" th:value="${BuyFormResponse.id}"/>

                    <div>
                        <label id="immediateSale">
                            <label for="immediateSalePrice">즉시 판매가: </label>
                            <span id="immediateSalePrice" th:text="${SaleFormResponse.price}"></span>원
                            <p id="immediateSaleFee">수수료: -원</p>
                            <p>배송비 선불 ・ 판매자 부담</p>
                            <hr>
                            <p id="finalImmediateAmount"></p>
                            <button type="submit">즉시 판매하기</button>
                        </label>
                    </div>
                </form>

                <script>

                    // 수수료 계산 함수
                    function calculateFees(price) { return price * 0.055;}

                    // 정산 금액 계산 및 표시 함수
                    function calculateAndDisplayFinalAmount() {
                        // 즉시 판매가에서 수수료를 빼고 최종 정산 금액을 계산
                        var immediatePriceElement = document.getElementById('immediateSalePrice');
                        var immediatePrice = parseFloat(immediatePriceElement.textContent.replace(/[^0-9.]/g, '')) || 0;
                        var immediateSaleFee = calculateFees(immediatePrice);
                        var finalImmediateAmount = immediatePrice - immediateSaleFee;
                        document.getElementById('immediateSaleFee').textContent = '수수료: ' + immediateSaleFee.toFixed(0) + '원';
                        document.getElementById('finalImmediateAmount').textContent = '정산금액: ' + finalImmediateAmount.toFixed(0) + '원';
                    }

                    // 페이지 로드 시 정산 금액 계산 및 표시
                    window.addEventListener('load', calculateAndDisplayFinalAmount);

                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
