<html layout:decorate="~{global/usrLayout}" xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <title>판매 입찰 사이즈 선택</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            justify-items: center;
        }

        .grid-item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="flex justify-center mt-5">판매하기</div>
    <div class="container mx-auto mt-5">
        <div class="header text-center mb-5">
            <img th:src="${shoes.fullPath.get(0)}" class="w-20">
            <div>
                <p class="text-l" th:text="${shoes.model}"></p>
                <p class="text-l" th:text="${shoes.korName}"></p>
                <p class="text-l" th:text="${shoes.engName}"></p>
            </div>
        </div>

        <form th:action="@{|/sale/shoes/size|}" method="post">
            <input type="hidden" id="shoesId" name="shoesId" th:value="${shoes.id}">
            <div class="grid-container">
                <th:block th:each="size : ${shoes.sizeMap.keySet()}">
                    <div class="grid-item">
                        <input type="radio" id="size" name="size" th:value="${size}">
                        <div class="flex flex-col">
                            <p th:text="${size}"></p>
<!--                            <p th:text="${shoes.sizeMap.get(size)}"></p>-->
                            <p th:if="${shoes.sizeMap.get(size) == 0}" th:text="'판매 입찰'"></p>
                            <p th:unless="${shoes.sizeMap.get(size) == 0}" th:text="${shoes.sizeMap.get(size)} + '원'"></p>

                        </div>
                    </div>
                </th:block>
                <br>
                <input type="submit" value="판매하기">
            </div>
        </form>
    </div>
</div>
</body>
</html>

