<html layout:decorate="~{global/usrLayout}" xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYPE</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
<div layout:fragment="content">
    <div class="flex justify-center">판매동의</div>
        <div class="container mx-auto mt-5">
            <div class="header text-center mb-5">
<!--                이미지-->
                <p class="text-l" th:text="${buyResponse.shoes.model}"></p>
                <p class="text-l" th:text="${buyResponse.shoes.korName}"></p>
                <p class="text-l" th:text="${buyResponse.shoes.engName}"></p>
                <p class="text-l" th:text="${selectedSize}">사이즈</p>

                <hr>
            </div>
            <div>
                <form id="termsForm">
                    <div>
                        <input type="checkbox" id="term1" name="terms" onchange="checkTerms()">
                        <label for="term1">판매하려는 상품이 맞습니다.</label>
                    </div>
                    <div>
                        <input type="checkbox" id="term2" name="terms" onchange="checkTerms()">
                        <label for="term2">국내/해외에서 발매한 정품·새상품입니다.</label>
                    </div>
                    <div>
                        <input type="checkbox" id="term3" name="terms" onchange="checkTerms()">
                        <label for="term3">박스/패키지의 상태를 확인합니다.</label>
                    </div>
                    <div>
                        <input type="checkbox" id="term4" name="terms" onchange="checkTerms()">
                        <label for="term4">이중 포장하여 선불 발송합니다.</label>
                    </div>
                    <div>
                        <input type="checkbox" id="term5" name="terms" onchange="checkTerms()">
                        <label for="term5">HYPE의 최신 이용정책을 모두 확인하였으며, 판매를 계속합니다.</label>
                    </div>
                    <div>
                        <button type="submit" id="submitButton" disabled>판매 계속</button>
                    </div>
                </form>
                <script>
                    function checkTerms() {
                        var checkboxes = document.querySelectorAll('input[name="terms"]');
                        var submitButton = document.getElementById('submitButton');

                        submitButton.disabled = !Array.from(checkboxes).every(checkbox => checkbox.checked);
                    }
                </script>
            </div>

<!--            <div class="">-->
<!--                <input type="hidden" name="selectedSize" th:value="${buyResponse.shoesSize.size}">-->
<!--                <input type="hidden" name="selectedPrice" th:value="${buyResponse.price}">-->
<!--            </div>-->
        </div>
</div>
</body>
</html>

