<!DOCTYPE html>
<html layout:decorate="~{global/layout}">
<body>
<div layout:fragment="header" class="fixed bg-white top-0 left-0 right-0 flex justify-between px-[10px] py-[15px] border-b border-black">
    <a href="/" class="flex items-center">HYPE ADMIN</a>
    <div class="flex flex-col justify-center">
        <div class="flex mb-[20px] space-x-8">
            <a href="/admin/main/brand">브랜드</a>
            <a href="/admin/main/shoes">신발</a>
            <div>관심</div>
            <div>알림</div>
            <div>로그인</div>
        </div>
        <div class="flex space-x-4 justify-end">
            <div>HOME</div>
            <div>SHOP</div>
            <div>BOARD</div>
            <div>SEARCH</div>
        </div>
    </div>
</div>
</body>
</html>