<!DOCTYPE html>
<html layout:decorate="~{global/layout}">
<body>
<div layout:fragment="header" class="fixed bg-white top-0 left-0 right-0 flex justify-between px-[10px] py-[15px] border-b border-black">
    <div class="flex items-center">HYPE</div>
    <div class="flex flex-col justify-center">
        <div class="flex mb-[20px] space-x-8">
            <a href="/cs/main">고객센터</a>
            <a href="/mypage/profile">마이페이지</a>
            <div>관심</div>
            <div>알림</div>
            <div sec:authorize="isAnonymous()" >
                <a th:href="@{/member/login}">로그인</a>
            </div>
            <div sec:authorize="isAuthenticated()" >
                <a th:href="@{/member/logout}">로그아웃</a>
            </div>
        </div>
        <div class="flex space-x-4 justify-end">
            <a href="/">HOME</a>
            <div>SHOP</div>
            <div>BOARD</div>
            <div>SEARCH</div>
        </div>
    </div>
</div>
</body>
</html>