<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
</head>
<body>
<div>
    <h1>Create Shoes</h1>

    <form th:action method="post" th:object="${shoesRequest}">

        <label for="brand">Brand:</label>
        <select id="brand" name="brand" th:field="*{brand}" required>
            <option th:each="brand : ${brands}"
                    th:value="${brand.id}"
                    th:text="${brand.korName}"></option>
        </select>
        <br/>

        <label for="korName">Korean Name:</label>
        <input type="text" id="korName" name="korName" th:field="*{korName}" required/>
        <br/>

        <label for="engName">English Name:</label>
        <input type="text" id="engName" name="engName" th:field="*{engName}" required/>
        <br/>

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" th:field="*{model}" required/>
        <br/>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" th:field="*{price}" required/>
        <br/>

        <label for="release">Release:</label>
        <input type="date" id="release" name="release" th:field="*{release}" required/>
        <br/>

        <label for="shoesCategory">Shoes Category:</label>
        <select id="shoesCategory" name="shoesCategory" th:field="*{shoesCategory}" required>
            <option th:each="category : ${T(com.ll.hype.domain.shoes.shoes.entity.ShoesCategory).values()}"
                    th:value="${category}"
                    th:text="${category}"></option>
        </select>
        <br/>

        <label for="color">Color:</label>
        <input type="text" id="color" name="color" th:field="*{color}" required/>
        <br/>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" th:field="*{gender}" required>
            <option th:each="gender : ${T(com.ll.hype.global.enums.Gender).values()}"
                    th:value="${gender}"
                    th:text="${gender}"></option>
        </select>
        <br/>

        <label for="status">Status:</label>
        <select id="status" name="status" th:field="*{status}" required>
            <option value="ENABLE">Enable</option>
            <option value="DISABLE">Disable</option>
            <!-- Add more options as needed -->
        </select>
        <br/>

        <button type="submit">Create Shoes</button>
    </form>
</div>
</body>
</html>