<html layout:decorate="~{global/adLayout}">
<head>
    <title>전체 신발 상품 목록</title>
</head>
<body>
<div layout:fragment="ad_page_content" class="container mx-auto mt-8 p-4 bg-white rounded shadow-md">
    <h1 class="text-2xl font-bold mb-4">신발 상품 목록</h1>

    <table class="w-full border-collapse border border-gray-300">
        <thead>
        <tr>
            <th class="p-3 border-b">Image</th>
            <th class="p-3 border-b">Create Date</th>
            <th class="p-3 border-b">Modify Date</th>
            <th class="p-3 border-b">Brand</th>
            <th class="p-3 border-b">Korean Name</th>
            <th class="p-3 border-b">English Name</th>
            <th class="p-3 border-b">Model</th>
            <th class="p-3 border-b">Price</th>
            <th class="p-3 border-b">Release</th>
            <th class="p-3 border-b">Shoes Category</th>
            <th class="p-3 border-b">Color</th>
            <th class="p-3 border-b">Gender</th>
            <th class="p-3 border-b">Status</th>
        </tr>
        </thead>
        <tbody th:each="shoes : ${shoes}" class="hover:bg-gray-100">
        <tr>
            <td class="p-3 border-b">
                <ul>
                    <li th:each="path : ${shoes.fullPath}" >
                        <img th:src="${path}" class="w-20"/>
                    </li>
                </ul>
            </td>
            <td class="p-3 border-b" th:text="${shoes.createDate}"></td>
            <td class="p-3 border-b" th:text="${shoes.modifyDate}"></td>
            <td class="p-3 border-b" th:text="${shoes.brand.korName}"></td>
            <td class="p-3 border-b">
                <a th:href="@{|/admin/shoes/${shoes.id}|}" th:text="${shoes.korName}"></a>
            </td>
            <td class="p-3 border-b" th:text="${shoes.engName}"></td>
            <td class="p-3 border-b" th:text="${shoes.model}"></td>
            <td class="p-3 border-b" th:text="${shoes.price}"></td>
            <td class="p-3 border-b" th:text="${shoes.release}"></td>
            <td class="p-3 border-b" th:text="${shoes.shoesCategory}"></td>
            <td class="p-3 border-b" th:text="${shoes.color}"></td>
            <td class="p-3 border-b" th:text="${shoes.gender}"></td>
            <td class="p-3 border-b" th:text="${shoes.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>