<html layout:decorate="~{global/usrLayout}">
<head>
    <title>신발 상세페이지</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mx-auto mt-5">
        <div class="header text-center mb-5">
            <div class="column_img">
                상품 이미지
            </div>
            <div class="column">
                <div class="price_info">
                    <p>즉시 구매가</p>
                    <!--내 사이즈 즉시구매가-->
                    <!--가장 저렴한 즉시구매가-->
                    <!--내 사이즈 즉시구매 가능하면 내 사이즈 즉시 구매가 노출
                        없으면 가장 저렴한 즉시 구매가 노출-->
                </div>
                <div class="name">
                    <p class="eng_name" th:text="${shoes.engName}"></p>
                    <p class="kor_name" th:text="${shoes.korName}"></p>
                </div>
                <div class="shoes_info">
                    <table class="flex flex-col items-center">
                        <tr>
                            <th>최근거래가</th>
                            <th>발매가</th>
                            <th>모델번호</th>
                            <th>출시일</th>
                            <th>색상</th>
                        </tr>
                        <tr>
                            <td>{최근 거래가}</td>
                            <td th:text="${shoes.price}"></td>
                            <td th:text="${shoes.model}"></td>
                            <td th:text="${shoes.release}"></td>
                            <td th:text="${shoes.color}"></td>
                        </tr>
                    </table>
                </div>
                <div class="flex">
                    <!--즉시 구매가 즉시 판매가, 구매버튼 판매버튼-->
                    <form th:action="@{|/buy/shoes|}" method="post">
                        <input type="hidden" id="shoesId" name="shoesId" th:value="${shoes.id}">
                        <button type="submit" class="btn btn-outline mr-4">구매 진행</button>
                    </form>

                    <form th:action="@{|/sale/shoes|}" method="post">
                        <input type="hidden" id="saleShoesId" name="shoesId" th:value="${shoes.id}">
                        <button type="submit" class="btn btn-outline">판매 진행</button>
                    </form>
                </div>

                <div class="flex mt-2">
<!--                    <div class="dropdown dropdown-hover">-->
                        <!--                        <div tabindex="0" role="button" class="btn btn-outline p-2 mr-4">사이즈 선택</div>-->
                        <!--                        <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">-->
                        <!--                            <li><a>Item 1</a></li>-->
                        <!--                            <li><a>Item 2</a></li>-->
                        <!--                        </ul>-->

<!--                        <p>선택된 사이즈 : </p>-->
<!--                    </div>-->

                    <div class="wishlist">
                        <form th:action="@{|/shoes/love|}" id="wishForm" method="post">
                            <input type="hidden" id="id" name="id" th:value="${shoes.id}">
                            <div class="dropdown dropdown-hover">
                                <select id="selectSize" name="selectSize" class="btn btn-outline p-2 mr-4">
                                    <option th:each="size : ${shoes.sizes}" th:value="${size.size}" th:text="${size.size}"></option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-outline p-2" onclick="checkAlreadyBid()">찜</button>
                        </form>
                    </div>
                </div>

                <div class="chart">
                    <!--시세-->
                </div>
                <div class="social">
                    <!--인스타-->
                </div>
            </div>
        </div>
    </div>
    <script>
        async function checkAlreadyBid() {
            var shoesId = document.querySelector('#id').value;
            var selectedSize = document.querySelector('#selectSize').value;

            console.log("shoesId : " + shoesId)
            console.log("selectedSize : " + selectedSize)

            var data = {
                shoesId: shoesId,
                size: selectedSize
            };

            const csrfTokenHeaderName = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
            const csrfTokenValue = document.querySelector("meta[name='_csrf']").getAttribute("content");

            const response =  await fetch('/shoes/love/check', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfTokenHeaderName]: csrfTokenValue
                },
                body: JSON.stringify(data)
            });

            if (response.status == 200) {
                document.getElementById("wishForm").submit();
            }

            if (response.status == 202) {
                alert("이미 찜한 상품입니다..");
            }

            if (response.status == 400) {
                alert("알 수 없는 오류가 발생했습니다.");
            }
        }
    </script>
</div>
</body>
</html>

