<html layout:decorate="~{global/usrLayout}">
<head>
    <title>신발 목록</title>
</head>
<body layout:fragment="content">
    <div class="container mx-auto mt-8">
        <h1 class="text-3xl font-bold mb-4">Shoes List</h1>
        <div class="mb-4">
            <form th:action="@{|/shoes/list|}" method="get">
                <div class="flex">

                    <div th:each="category : ${T(com.ll.hype.domain.shoes.shoes.entity.ShoesCategory).values()}"
                         class="mr-2">
                        <input type="checkbox" th:id="${category.name()}" th:value="${category.name()}" th:name="categories"
                               th:checked="${selectedCategories != null && selectedCategories.contains(category.name())}">
                        <label th:for="${category.name()}" th:text="${category}"></label>
                    </div>
                </div>
                <button type="submit">필터 적용</button>
            </form>
        </div>
        <table class="min-w-full border border-gray-300">
            <thead>
            <tr>
                <th class="py-2 px-4 border-b">ID</th>
                <th class="py-2 px-4 border-b">Create Date</th>
                <th class="py-2 px-4 border-b">Modify Date</th>
                <th class="py-2 px-4 border-b">Brand</th>
                <th class="py-2 px-4 border-b">Korean Name</th>
                <th class="py-2 px-4 border-b">English Name</th>
                <th class="py-2 px-4 border-b">Model</th>
                <th class="py-2 px-4 border-b">Price</th>
                <th class="py-2 px-4 border-b">Release</th>
                <th class="py-2 px-4 border-b">Shoes Category</th>
                <th class="py-2 px-4 border-b">Color</th>
                <th class="py-2 px-4 border-b">Gender</th>
                <th class="py-2 px-4 border-b">Status</th>
            </tr>
            </thead>
            <tbody th:each="shoes : ${shoesList}">
            <tr>
                <td class="py-2 px-4 border-b" th:text="${shoes.id}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.createDate}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.modifyDate}"></td>
                <td class="py-2 px-4 border-b">
                    <a th:href="@{|/shoes/${shoes.id}|}" th:text="${shoes.brand.korName}"></a>
                </td>
                <td class="py-2 px-4 border-b" th:text="${shoes.korName}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.engName}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.model}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.price}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.release}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.shoesCategory}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.color}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.gender}"></td>
                <td class="py-2 px-4 border-b" th:text="${shoes.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
