<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/resource/social/style.css}">
    <link rel="stylesheet" th:href="@{/resource/social/story.css}">
    <link rel="stylesheet" th:href="@{/resource/social/popular.css}">
    <link rel="stylesheet" th:href="@{/resource/social/profile.css}">
    <link rel="stylesheet" th:href="@{/resource/social/upload.css}">
    <link rel="stylesheet" th:href="@{/resource/social/update.css}">
    <link rel="shortcut icon" th:href="@{/images/insta.svg}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body th:class="${principal != null} ? 'authenticated' : ''">

<!-- principalId 담아두는 곳 -->
<input type="hidden" id="principalId" th:value="${principal}" />

<header class="header">
    <div class="container">
        <a href="/" class="logo">
<!--            <img th:src="@{/img/logo.jpg}" alt="">-->
        </a>
        <nav class="navi">
            <ul class="navi-list">
                <li class="navi-item"><a th:href="@{/}">
                    <i class="fas fa-home"></i>
                </a></li>
<!--                <li class="navi-item">-->
<!--                    <a th:href="@{/image/popular}">-->
<!--                    <i class="far fa-compass"></i>-->
<!--                </a></li>-->
                <li class="navi-item"><a th:href="@{|/user/${principal}|}">
                    <i class="far fa-user"></i>
                </a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
