<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>프로필 페이지</title>
    <!-- 다른 헤더 설정 -->
    <th:block th:include="/domain/social/social/header.html"></th:block>
</head>
<body>

<!-- 프로필 섹션 -->
<section class="profile">
    <!-- 유저정보 컨테이너 -->
    <div class="profileContainer">

        <!-- 유저이미지 -->
        <div class="profile-left">
            <div class="profile-img-wrap story-border" th:if="${profileDto.getEmail() eq #authentication.principal.username}">
                <!-- 프로필 이미지 -->
                <img class="profile-image" th:src="${profileDto.getProfileImage() != null ? profileDto.getProfileImage() : 'https://kr.object.ncloudstorage.com/hypeimagebucket/SOCIAL/person.jpeg'}"/>
            </div>
        </div>
        <!-- 유저이미지 end -->

        <!-- 유저정보 및 사진등록 구독하기 -->
        <div class="profile-right">
            <div class="name-group">
                <h2 th:text="${profileDto.getNickname()}"></h2>

                <!-- 사용자가 로그인한 사용자인 경우 -->
                <div th:if="${profileDto.getEmail() eq #authentication.principal.username}">
                    <!-- 파일 업로드 버튼 클릭 시 모달 팝업 호출 -->
                    <button class="modi" onclick="openPopup()">프로필 수정</button>

                    <!-- 모달 창 -->
                    <div id="profileModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closePopup()">&times;</span>
                            <!-- 파일 선택 폼 -->
                            <form th:action="@{/social/profile/{id}(id=${profileDto.getId()})}" method="post" enctype="multipart/form-data">
                                <label for="profileImage">프로필 이미지</label>
                                <input type="file" id="profileImage" name="multipartFiles" required/>
                                <input type="submit" value="수정"/>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 다른 사용자인 경우 -->
            <div th:unless="${profileDto.getEmail() eq #authentication.principal.username}">
                <button class="cta" th:onclick="'toggleSubscribe(' + ${profileDto.id} + ', this)'"></button>
            </div>
        </div>
        <!-- 유저정보 및 사진등록 구독하기 end -->
    </div>
</section>


<!-- 로그아웃, 회원정보변경 모달 -->
<!-- 해당 부분 제거 -->
<!-- 로그아웃, 회원정보변경 모달 end -->



<!--프로필사진 바꾸기 모달end-->





<script th:src="@{/js/socialmemberprofile.js}"></script>

<!-- 다른 푸터 설정 -->
<th:block th:include="/domain/social/social/footer.html"></th:block>

</body>
</html>

